
h1 
{
font-size: medium;
font-family: Verdana, Helvetica, Arial, sans-serif;
line-height: 1.6em;
font-weight: bolder;
color: brown;
}

h2
{ 
font-size: medium;
}
h3
{
color:red;
font-style: italic;
padding: 15px;
}
a:hover {
color: #0d5353;
background-color: #f88396;
}

#Specials {
float:right;
background: #efe5do bottom right;
font-size: 105%;
padding: 15px;
margin: 0px 50 px 10px 10px;
width: 280px;

}

#main {
background: #efe5d0 top left;
font-size: 100%;

margin: 10px;
margin: 0px 330px 10px 10px;
}

#footer {
background-color: #675c30;
font-size: 90%;
padding: 15px;
margin: 10px;
color: efe5d0;
text-alighn: center;
font-size: 90%;
clear: left;
}





#allcontent {
padding-top: 5px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
}

#header {
top: 20px;
left: 200px;

nav  {
background-color: #efe5d0;
margin: 10px 10px 0px 10px;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav  ul li {
display: inline;
padding: 5px 10px 5px 10px;
}

nav ul li a:link,nav ul li a:visited {
color: #954b4b;
border-bottom: none;
font-weight: bold;
}
nav ul li.selected {
background-color: #c8b99c;
}












